<!-- navigation -->
<nav class="menu menu--iris">
  <ul class="menu__list">
    <li class="menu__item menu__item--current"><a routerLink="/home" routerLinkActive="active" class="menu__link">Home</a></li>
    <li class="menu__item"><a routerLink="/women" routerLinkActive="active" class="menu__link">Fashion / Women</a></li>
    <li class="menu__item"><a routerLink="/men" routerLinkActive="active" class="menu__link">Fashion / Men</a></li>
    <li class="menu__item"><a routerLink="/beauty" routerLinkActive="active" class="menu__link">Beauty</a></li>
    <li class="menu__item"><a routerLink="/commercial" routerLinkActive="active" class="menu__link">Commercial</a></li>
    <li class="menu__item"><a routerLink="/video" routerLinkActive="active" class="menu__link">Video</a></li>
    <li class="menu__item"><a routerLink="/bio" routerLinkActive="active" class="menu__link">Bio</a></li>
    <li class="menu__item"><a routerLink="/contact" routerLinkActive="active" class="menu__link">Contact</a></li>        
  </ul>
</nav>
<br>
<router-outlet></router-outlet>